.movieslist{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    gap:2em;
    margin-inline: auto;
    justify-content: center;
    padding-inline: 2em;
    padding-bottom: 2em;
}
.gotobooked{
    margin: auto;
    width: fit-content;
    color: rgb(190, 190, 145);
}
.gotobookedbutton{
    color: rgb(190, 190, 145);
}